/* CSS customizations */
.wy-nav-top {
    color: #343131;
}

.wy-side-nav-search{
  color: #343131;
  background-color: #BEB69A;
}

.wy-side-nav-search a.icon{
  color: #343131;
}

.wy-nav-content {
  max-width:100%;
  font-size:120%;
}

.homelink {
    text-align:center;
    background-color:#343131;
    color:white;
    height:1.5em;
    padding-top:.2em;
}

.homelink a{
    color:white;
}

.fa.fa-home {
    color: #343131;

}

.fa.fa-home a:visited{
    color: #343131;
}

img {
    max-height: 720px;
}

footer img{
    max-height:44px;
}

footer li{
    display: inline;
    padding-right:1em;
}

/* Responsive */
@media (max-width:1024px) {
  footer {
    padding-top: 2em;
  }

  footer img{
    width:auto;
    padding-top:.5em;
  }
}
